.right-column{
    background-color: #F8F8F8;
}

/* input field */
input{
    background-color: #DCDCDC;
    border: 0;
}
.expense-name, .income{
    margin-right: 15px;
}

/* error handling */
.error-handling{
display: none;
}